<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="layouts :: head"></head>

  <body>
    <nav th:replace="layouts :: navbar"></nav>

    <div>
      <h4>Current Projects</h4>
      <table>
        <thead>
          <tr>
            <th>Project Name</th>
            <th>Project Stage</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="project : ${projects}">
            <td th:text="${project.name}"></td>
            <td th:text="${project.stage}"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <h4>Current Employee</h4>
      <table>
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email Address</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="employee : ${employees}">
            <td th:text="${employee.firstName}"></td>
            <td th:text="${employee.lastName}"></td>
            <td th:text="${employee.email}"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
