<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="layouts :: head"></head>

  <body>
    <nav th:replace="layouts :: navbar"></nav>

    <div class="container">
      <hr />
      <h3>Main Dashboard</h3>
      <hr />
      <div class="row">
        <div class="col-md-8">
          <h4>Current Projects</h4>
          <table class="table table-bordered table-striped">
            <thead class="thead-dark">
              <tr>
                <th>Project Name</th>
                <th>Project Stage</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="project : ${projects}">
                <td th:text="${project.name}"></td>
                <td th:text="${project.stage}"></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-4">
          <canvas id="myPieChart" height="50" width="50"></canvas>
        </div>
        <div class="col-md-6">
          <h4>Current Employee</h4>
          <table class="table table-bordered table-striped">
            <thead class="thead-dark">
              <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Project Count</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="employeeProjectCount : ${employeesProjectCount}">
                <td th:text="${employeeProjectCount.firstName}"></td>
                <td th:text="${employeeProjectCount.lastName}"></td>
                <td th:text="${employeeProjectCount.projectCount}"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <script type="text/javascript" th:src="@{js/myChart.js}"></script>
  </body>
</html>
