<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="layouts :: head"></head>

  <body>
    <nav th:replace="layouts :: navbar"></nav>

    <div class="container">
      <form th:action="@{./save}" th:object="${employee}" method="POST">
        <input type="hidden" th:field="${employee.employeeId}" />
        <div class="form-group">
          <input
            type="text"
            placeholder="First Name"
            th:field="${employee.firstName}"
          />
          <div
            style="color: red;"
            th:if="${#fields.hasErrors('firstName')}"
            th:errors="${employee.firstName}"
          ></div>
        </div>
        <div class="form-group">
          <input
            type="text"
            placeholder="Last Name"
            th:field="${employee.lastName}"
          />
          <div
            style="color: red;"
            th:if="${#fields.hasErrors('lastName')}"
            th:errors="${employee.lastName}"
          ></div>
        </div>
        <div class="form-group">
          <input
            type="email"
            placeholder="Email"
            th:field="${employee.email}"
          />
          <div
            style="color: red;"
            th:if="${#fields.hasErrors('email')}"
            th:errors="${employee.email}"
          ></div>
        </div>
        <button type="submit" class="btn btn-primary">Create Employee</button>
      </form>
    </div>
  </body>
</html>
